<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 about-title">
        About Me
      </div>
      <div class="col-sm-4 profile-pic">
        <%= image_tag("Image01.jpg", :alt => "As a grad student") %>
      </div>
      <div class="col-sm-4 about-body">
        <p>
          Howdy readers, I am a full stack engineer learning my way through life.
          I wanted a single place to compile my thoughts and simultaneously
          improve my skills as a web developer. Hence 'Code Courage' was born.
        </p>
        <p>
           I would be adding more sections to the site, some required and some not
           so require ones. Feel free to send me feedback if something
           'offends/interests' you.
        </p>
        <p>
          This pic was taken in 2014 after a career fair. Since then much has changed.
          But I could not find another pic that I felt more comfortable with.
          As you see looks are not my strong suite :P
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 about-title">
        Interests
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 interest-body">
        <p>
          Apart from being an amature cook, average photographer and a casual gamer.
          I like investing time in learning new technologies. Rails, Javascript, Java,
          API and front end design are right at the top of my technical interest list.
        </p>
        <p>
          Feel free to contact me if you want to connect. Thanks for reading.
          Have a great day!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="col-sm-1 social-links">
          <%= link_to(image_tag("linkedin-icon.png"), "https://www.linkedin.com/in/samarth-asthana-7a447014") %>
        </div>
        <div class="col-sm-1 social-links">
          <%= link_to(image_tag("github-icon.png"), "https://github.com/samarthasthana") %>
        </div>
        <div class="col-sm-1 social-links">
          <%= link_to(image_tag("instagram-icon.png"), "https://www.instagram.com/samarthasthana/") %>
        </div>
      </div>
    </div>
  </div>
</body>
