<p>
  Hey , Welcome to Posts index!
</p>
<% @posts.each do |post| %>
<div class="">
  <p>
    <%= post.title %>
    <br>
  </p>
  <p>Created at:
    <%= post.created_at %>
  </p>
  <p>Created by:
    <%= post.user.email %>
  </p>
  <p>
    <%= post.body %>
  </p>
</div>
<% end %>
